@keyframes moverBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}


/*HEADER*/
.App .header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 10vh;
}

.App .header .logo {
  display: flex;
  align-items: center;
  width: 25%;
  padding-left: 15px;
}

.App .header .logo img {
  width: 70%;
}

.App .header .menu {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 68%;
  padding-right: 15px;
}

.App .header .menu ul {
  display: flex;
  justify-content: space-between;
  width: 52%;
  font-size: 20px;
  font-weight: 600;
  list-style-type: none;
}

.App .header .menu ul li {
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  transition: all ease 0.6s;
  position: relative;
}

.App .header .menu ul li:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

.App .header .menu ul a {
  text-decoration: none;
  color: inherit;
}


/*FIRST SECTION*/
.App main .first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-image: url('./images/firstsection/background.png');
  background-size: 200%;
  animation: moverBackground infinite 40s;
}

.App main .first-section .first-section-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80%;
}

.App main .first-section .first-section-main .first-section-main-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.App main .first-section .first-section-main .first-section-main-1 .introduce-me {
  width: 100%;
  font-size: 4.7em;
  color: rgb(0, 0, 0);
  font-weight: 400;
  margin: 0;
}

.App main .first-section .first-section-main .first-section-main-1 .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 15%;
}

.App main .first-section .first-section-main .first-section-main-1 .buttons button {
  width: 47%;
  height: 70%;
  background-color: white;
  border: 3px solid black;
  border-radius: 0px 10px 0px 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.App main .first-section .first-section-main .first-section-main-1 .buttons button:hover {
  background-color: black;
  color: white;
}

.App main .first-section .first-section-main .first-section-main-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.App main .first-section .first-section-main .first-section-main-2 img {
  transition: all ease 1s;
  width: 95%;
  height: 95%;
}

.App main .first-section .first-section-main .first-section-main-2 img:hover {
  width: 92%;
  height: 92%;
}


/*SECOND SECTION*/
.App main .second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App main .second-section .section-my-services {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  margin-top: 50px;
}

.App main .second-section .section-my-services .title {
  width: 100%;
  height: 20%;
  font-weight: 500;
  font-size: 60px;
  margin: 0;
}

.App main .second-section .section-my-services .services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 70%;
}

.App main .second-section .section-my-services .services .service-1, .service-2 {
  display: flex;
  justify-content: space-between;
  width: 94%;
  height: 32%;
  padding: 30px;
  border-radius: 10px;
  user-select: none;
  border: 3px solid black;
  border-left: 7px solid black;
  border-bottom: 7px solid black;
}

.App main .second-section .section-my-services .services .service-1:hover, .service-2:hover {
  box-shadow: 0px 0px 30px rgb(197, 197, 197);
}

.App main .second-section .section-my-services .services .service-1 .service-1-check, .service-2 .service-2-check {
  display: flex;
  align-items: center;
  width: 10%;
  height: 100%;
}

.App main .second-section .section-my-services .services .service-1 .service-1-check img, .service-2 .service-2-check img {
  width: 150%;
  height: 100%;
}

.App main .second-section .section-my-services .services .service-1 .service-1-desc, .service-2 .service-2-desc {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
}

.App main .second-section .section-my-services .services .service-1 .service-1-desc .title1, .service-2 .service-2-desc .title2 {
  display: flex;
  align-items: end;
  width: 85%;
  height: 40%;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}

.App main .second-section .section-my-services .services .service-1 .service-1-desc .desc, .service-2 .service-2-desc .desc {
  display: flex;
  width: 100%;
  height: 60%;
  font-size: 18px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 0;
}


/*SECTION PORTFÓLIO*/
.App main .second-section .section-portfolio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

.App main .second-section .section-portfolio .section-portfolio-title {
  width: 100%;
  height: 140px;
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}

.App main .second-section .section-portfolio .section-portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.App .portfolio-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.96);
  backdrop-filter: blur(10px);
  display: none;
}

.App .portfolio-modal .close-modal {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 15%;
  color: white;
  font-weight: 600;
  font-size: 40px;
}

.App .portfolio-modal .close-modal div {
  cursor: pointer;
}

.App .portfolio-modal .modal-main {
  display: flex;
  width: 90%;
  height: 85%;
}

.App .portfolio-modal .modal-main .modal-image {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 40%;
  height: 80%;
}

.App .portfolio-modal .modal-main .modal-image img {
  width: 75%;
}

.App .portfolio-modal .modal-main .modal-image-desc {
  display: flex;
  width: 45%;
  height: 100%;
  font-size: 20px;
  padding-left: 40px;
  color: white;
  margin: 0;
}

.App main .second-section .section-portfolio .section-portfolio-examples .arte-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 15px rgb(155, 155, 155);
} 

.App main .second-section .section-portfolio .section-portfolio-examples .arte-box:hover {
  box-shadow: 0px 0px 20px rgb(158, 158, 158);
}

.App main .second-section .section-portfolio .section-portfolio-examples .arte-box .arte-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.App main .second-section .section-portfolio .section-portfolio-examples .arte-box .arte-img img {
  border-radius: 10px;
  width: 80%;
  transition: all ease 1s;
}

.App main .second-section .section-portfolio .section-portfolio-examples .arte-box .arte-img img:hover {
  width: 85%;
}


/*THIRD SECTION*/
.App main .third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;
}

.App main .third-section .third-section-main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 300px;
}

.App main .third-section .third-section-main .box1 {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.App main .third-section .third-section-main .box1 .text1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70%;
  font-size: 58px;
  font-weight: 500;
  line-height: 1;
}

.App main .third-section .third-section-main .box1 .text2 {
  display: flex;
  width: 100%;
  height: 10%;
  font-size: 30px;
  font-weight: 600;
  color: purple;
}

.App main .third-section .third-section-main .box2 {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 10px;
}

.App main .third-section .third-section-main .box2 .box2-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 90%;
  height: 55%;
  border: 3px solid black;
  border-bottom: 6px solid black;
  border-left: 6px solid black;
  padding-left: 10px;
  border-radius: 10px;
  
}

.App main .third-section .third-section-main .box2 .box2-main:hover {
  border-bottom: 9px solid black;
  border-left: 9px solid black;
}

.App main .third-section .third-section-main .box2 .box2-main .contacts {
  display: flex;
  align-items: center;
  width: 80%;
  height: 33%;
}

.App main .third-section .third-section-main .box2 .box2-main .contacts .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 50%;
}

.App main .third-section .third-section-main .box2 .box2-main .contacts .logo img {
  width: 50%;
}

.App main .third-section .third-section-main .box2 .box2-main .contacts a {
  color: black;
}

.App main .third-section .third-section-main .box2 .box2-main .contacts .name {
  display: flex;
  width: 80%;
  height: 50%;
  font-size: 20px;
  font-weight: 600;
}

.App main .third-section .third-section-main .box2 .box2-main .contacts .name:hover {
  color: purple;
}


/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-top: 30px;
  color: white;
  background-color: black;
  margin-top: 120px;
}

footer .footer-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 50%;
}

footer .footer-main .options {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 50%;
  font-size: 17px;
}

footer .footer-main .options a {
  color: white;
}

footer .footer-main .options a:hover {
  color: rgb(187, 0, 187);
}



/*Large screens*/
@media (min-width: 1920px) {
  .App .header .logo img {
  width: 75%;
  }

  .App .header .menu ul {
    font-size: 30px;
  }

  .App main .first-section .first-section-main .first-section-main-1 .introduce-me {
    font-size: 7em;
  }

  .App main .first-section .first-section-main .first-section-main-1 .buttons {
    width: 90%;
    height: 13%;
  }

  .App main .first-section .first-section-main .first-section-main-1 .buttons button {
    font-size: 23px;
    border: 4px solid black;
    border-radius: 0px 12px;
  }

  .App main .first-section .first-section-main .first-section-main-2 {
    height: 90%;
  }

  .App main .second-section .section-my-services {
    margin-top: 20px;
  }

  .App main .second-section .section-my-services .title {
    height: 17%;
    font-size: 90px;
  }

  .App main .second-section .section-my-services .services .service-1, .service-2 {
    height: 36%;
    padding: 30px;
    width: 96%;
    border-radius: 15px;
    border: 5px solid black;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
  }

  .App main .second-section .section-my-services .services .service-1:hover, .service-2:hover {
    box-shadow: 0px 0px 30px rgb(197, 197, 197);
  }


  .App main .second-section .section-my-services .services .service-1 .service-1-check, .service-2 .service-2-check {
    width: 12%;
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-desc .title1, .service-2 .service-2-desc .title2 {
    align-items: start;
    height: 40%;
    font-size: 80px;
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-desc .desc, .service-2 .service-2-desc .desc {
    font-size: 26px;
  }

  .App main .second-section .section-portfolio .section-portfolio-title {
    height: 180px;
    font-size: 90px;
  }

  .App .portfolio-modal .close-modal {
    font-size: 50px;
  }

  .App .portfolio-modal .modal-main .modal-image img {
    width: 85%;
  }

  .App .portfolio-modal .modal-main .modal-image-desc {
    font-size: 30px;
  }

  .App main .second-section .section-portfolio .section-portfolio-examples .arte-box {
    height: 520px;
    border-radius: 13px;
    margin-bottom: 60px;
  } 

  .App main .second-section .section-portfolio .section-portfolio-examples .arte-box:hover {
    box-shadow: 0px 0px 20px rgb(158, 158, 158);
  }

  .App main .second-section .section-portfolio .section-portfolio-examples .arte-box .arte-img img {
    border-radius: 13px;
  }

  .App main .third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
  }

  .App main .third-section .third-section-main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 350px;
  }

  .App main .third-section .third-section-main .box1 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  .App main .third-section .third-section-main .box1 .text1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70%;
    font-size: 80px;
    font-weight: 500;
    line-height: 1;
  }

  .App main .third-section .third-section-main .box1 .text2 {
    display: flex;
    align-items: end;
    width: 100%;
    height: 22%;
    font-size: 42px;
    font-weight: 600;
    color: purple;
  }

  .App main .third-section .third-section-main .box2 .box2-main {
    height: 70%;
    border: 4px solid black;
    border-bottom: 9px solid black;
    border-left: 9px solid black;
    padding-left: 12px;
    border-radius: 12px;
  }

  .App main .third-section .third-section-main .box2 .box2-main:hover {
    border-bottom: 13px solid black;
    border-left: 13px solid black;
  }

  .App main .third-section .third-section-main .box2 .box2-main .contacts .name {
    font-size: 29px;
  }

  .App main .third-section .third-section-main .box2 .box2-main .contacts .name:hover {
    color: purple;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    margin-top: 30px;
    color: white;
    background-color: black;
    margin-top: 100px;
  }

  footer .footer-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50%;
  }

  footer .footer-main .options {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 50%;
    font-size: 25px;
  }

  footer .footer-main .options a:hover {
    color: rgb(187, 0, 187);
  }

  footer .footer-main .copyright {
    display: flex;
    justify-content: center;
    width: 51%;
    font-size: 23px;
  }
}


/*Desktops*/
@media (min-width: 1280px) and (max-width: 1280px) {
  .App main .first-section .first-section-main .first-section-main-2 {
    height: 90%;
  }

  .App .portfolio-modal .modal-main .modal-image img {
    width: 88%;
  }

  .App main .third-section .third-section-main .box2 .box2-main .contacts .name {
    font-size: 19px;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .App .header .logo img { 
    width: 90%;
  }

  .App .header .menu ul {
    width: 70%;
  }

  .App main .first-section .first-section-main .first-section-main-1 .buttons {
    width: 100%;
  }

  .App main .first-section .first-section-main .first-section-main-2 {
    height: 70%;
  }

  .App .portfolio-modal .modal-main {
    justify-content: center;
  }

  .App .portfolio-modal .modal-main .modal-image img {
    width: 88%;
  }

  .App main .third-section .third-section-main .box2 .box2-main .contacts .name {
    font-size: 19px;
  }

  .App main .second-section .section-my-services {
    margin-top: 10px;
  }

  .App main .second-section .section-my-services .title {
    height: 15%;
    font-size: 50px;
  }

  .App main .second-section .section-my-services .services .service-1, .service-2 {
    height: 33%;
    padding: 30px;
    width: 96%;
    border-radius: 15px;
    border: 3px solid black;
    border-left: 8px solid black;
    border-bottom: 8px solid black;
  }

  .App main .second-section .section-my-services .services .service-1:hover, .service-2:hover {
    box-shadow: 0px 0px 30px rgb(197, 197, 197);
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-check, .service-2 .service-2-check {
    width: 13%;
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-desc .title1, .service-2 .service-2-desc .title2 {
    align-items: start;
    height: 40%;
    font-size: 50px;
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-desc .desc, .service-2 .service-2-desc .desc {
    font-size: 18px;
  }

  .App main .second-section .section-portfolio .section-portfolio-title {
    height: 110px;
    font-size: 50px;
  }

  .App main .second-section .section-portfolio .section-portfolio-examples .arte-box {
    height: 300px;
    margin-bottom: 40px;
  }

  .App .portfolio-modal .modal-main .modal-image img {
    width: 110%;
  }

  .App main .third-section {
    margin-top: 0;
  }

  .App main .third-section .third-section-main .box1 .text1 {
    height: 55%;
    font-size: 46px;
  }

  .App main .third-section .third-section-main .box1 .text2 {
    font-size: 24px;
    height: 12%;
  }

  .App main .third-section .third-section-main .box2 .box2-main {
    height: 50%;
  }

  .App main .third-section .third-section-main .box2 .box2-main .contacts .logo img {
    width: 60%;
  }

  .App main .third-section .third-section-main .box2 .box2-main .contacts .name {
    font-size: 17px;
    width: 100%;
  }

  footer {
    height: 110px;
    margin-top: 30px;
  }

  footer .footer-main {
    width: 50%;
    height: 55%;
  }

  footer .footer-main .options {
    width: 70%;
  }

  footer .footer-main .copyright {
    font-size: 1.7vw;
  }
}

@media (min-width: 1114px) and (max-width: 1114px) {
  .App .header .logo img {
    width: 90%;
  }

  .App .header .menu ul {
    width: 63%;
  }

  .App main .first-section .first-section-main .first-section-main-2 {
    height: 90%;
  }

  .App main .second-section .section-portfolio .section-portfolio-examples .arte-box {
    height: 300px;
    margin-bottom: 40px;
  }

  .App .portfolio-modal .modal-main .modal-image img {
    width: 90%;
  }

  .App main .third-section {
    margin-top: 0;
  }

  .App main .third-section .third-section-main .box1 .text1 {
    height: 55%;
    font-size: 46px;
  }

  .App main .third-section .third-section-main .box1 .text2 {
    font-size: 24px;
    height: 12%;
  }

  .App main .third-section .third-section-main .box2 .box2-main .contacts .logo img {
      width: 60%;
    }

  .App main .third-section .third-section-main .box2 .box2-main .contacts .name {
    font-size: 18px;
    width: 100%;
  }

  footer {
    height: 110px;
    margin-top: 40px;
  }

  footer .footer-main .options {
    width: 60%;
  }
}

@media (min-width: 1536px) and (max-width: 1536px) {
  .App .header .menu ul {
    font-size: 23px;
  }

  .App main .first-section .first-section-main .first-section-main-1 .introduce-me {
    font-size: 6.5vw;
  }

  .App main .first-section .first-section-main .first-section-main-1 .buttons button {
    font-size: 1.3vw;
  }

  .App main .first-section .first-section-main .first-section-main-2 {
    height: 90%;
  }

  .App .portfolio-modal .modal-main .modal-image img {
    width: 82%;
  }
}

@media (min-width: 1440px) and (max-width: 1440px) {
  .App main .first-section .first-section-main .first-section-main-2 {
    height: 80%;
  }

  .App .portfolio-modal .modal-main .modal-image img {
    width: 92%;
  }

  .App main .first-section .first-section-main .first-section-main-1 .buttons button {
    font-size: 1.3vw;
  }
}

@media (min-width: 1600px) and (max-width: 1600px) {
  .App main .first-section .first-section-main .first-section-main-2 {
    height: 90%;
  }

  .App .portfolio-modal .modal-main .modal-image img {
    width: 82%;
  }

  .App main .first-section .first-section-main .first-section-main-1 .buttons button {
    font-size: 1.3vw;
  }

  .App main .third-section .third-section-main .box1 .text1 {
    font-size: 4.3vw;
  }

  .App main .third-section .third-section-main .box1 .text2 {
    font-size: 2.3vw;
  }

  .App main .third-section .third-section-main .box2 .box2-main {
    height: 60%;
  }

  .App main .third-section .third-section-main .box2 .box2-main .contacts .name {
    font-size: 1.5vw;
  }

  .App footer .footer-main {
    width: 42%;
  }
}


/*mobile*/
@media (max-width: 480px) {
  .App .header {
    width: 100%;
  }

  .App .header .logo {
    display: none;
  }

  .App .header .menu {
    width: 100%;
    justify-content: center;
  }

  .App .header .menu ul {
    width: 95%;
    justify-content: space-between;
    padding: 0;
    padding-left: 15px;
  }

  .App .header .menu ul li {
    font-size: 5vw;
  }

  .App main .first-section .first-section-main {
    flex-direction: column;
  }

  .App main .first-section .first-section-main .first-section-main-1 {
    width: 100%;
    height: 90%;
    justify-content: center;
  }

  .App main .first-section .first-section-main .first-section-main-1 .introduce-me {
    font-size: 21vw;
  }

  .App main .first-section .first-section-main .first-section-main-1 .buttons button {
    background-color: black;
    color: white;
    font-size: 4vw;
  }

  .App main .first-section .first-section-main .first-section-main-2 {
    display: none;
  }

  .App main .second-section .section-my-services {
    width: 90%;
  }

  .App main .second-section .section-my-services .title {
    width: 93%;
    height: 13%;
    font-size: 11vw;
  }

  .App main .second-section .section-my-services .services {
    width: 90%;
    height: 87%;
  }

  .App main .second-section .section-my-services .services .service-1, .service-2 {
    height: 42%;
    margin: 0;
    padding-left: 15px;
    padding-top: 0;
    overflow-y: scroll;
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-check, .service-2 .service-2-check {
    display: none;
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-desc, .service-2 .service-2-desc {
    width: 100%;
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-desc .title1, .service-2 .service-2-desc .title2 {
    width: 100%;
    height: 20%;
    font-size: 7vw;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-desc .desc, .service-2 .service-2-desc .desc {
    width: 100%;
    height: 80%;
    font-size: 4.5vw;
    font-weight: 500;
  }

  .App main .second-section .section-portfolio {
    width: 90%;
    margin-top: 60px;
  }

  .App main .second-section .section-portfolio .section-portfolio-title {
    height: 90px;
    font-size: 50px;
  }

  .App main .second-section .section-portfolio .section-portfolio-examples .arte-box {
    width: 100%;
  }

  .App .portfolio-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.96);
    backdrop-filter: blur(10px);
    display: none;
  }

  .App .portfolio-modal .close-modal {
    height: 8%;
    font-size: 30px;
  }

  .App .portfolio-modal .modal-main {
    flex-direction: column;
    height: 92%;
    align-items: center;
  }

  .App .portfolio-modal .modal-main .modal-image {
    justify-content: center;
    width: 80%;
    height: 50%;
  }

  .App .portfolio-modal .modal-main .modal-image img {
    width: 90%;
  }

  .App .portfolio-modal .modal-main .modal-image-desc {
    width: 100%;
    height: 50%;
    font-size: 18px;
    padding-left: 0px;
    overflow-y: auto;
  }

  .App main .third-section {
    margin-top: 25px;
  }

  .App main .third-section .third-section-main {
    flex-direction: column;
    width: 90%;
    height: 400px;
  }

  
  .App main .third-section .third-section-main .box1 {
    width: 100%;
    height: 40%;
  }

  .App main .third-section .third-section-main .box1 .text1 {
    font-size: 9vw;
    width: 100%;
    height: 80%;
  }

  .App main .third-section .third-section-main .box1 .text2 {
    font-size: 5vw;
    width: 100%;
    height: 20%;
  }

  .App main .third-section .third-section-main .box2 {
    width: 100%;
    height: 55%;
    align-items: start;
  }

  .App main .third-section .third-section-main .box2 .box2-main {
    width: 100%;
    height: 70%;
  }

  .App main .third-section .third-section-main .box2 .box2-main:hover {
    border-bottom: 6px solid black;
    border-left: 6px solid black;
  }

  .App main .third-section .third-section-main .box2 .box2-main .contacts {
    width: 100%;
  }

  .App main .third-section .third-section-main .box2 .box2-main .contacts .name {
    width: 80%;
    font-size: 4.5vw;
  }

  footer {
    height: 110px;
    margin-top: 30px;
  }

  footer .footer-main {
    width: 96%;
    height: 55%;
  }

  footer .footer-main .options {
    width: 90%;
  }

  footer .footer-main .copyright {
    font-size: 4.2vw;
  }
}


/*Small tablets*/
@media (min-width: 768px) and (max-width: 991px) {
  .App .header {
    justify-content: center;
  }

  .App .header .logo {
    display: none;
  }


  .App .header .menu {
    justify-content: center;
    width: 85%;
  }

  .App .header .menu ul {
    width: 100%;
    font-size: 3.2vw;
  }

  
  .App main .first-section {
    height: 60vh;
    background-color: green;
  }

  .App main .first-section .first-section-main {
    justify-content: center;
    height: 90%;
    width: 90%;
  }

  .App main .first-section .first-section-main .first-section-main-1 {
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .App main .first-section .first-section-main .first-section-main-1 .introduce-me {
    font-size: 13vw;
    height: 80%;
    width: 70%;
  }

  .App main .first-section .first-section-main .first-section-main-1 .buttons {
    font-size: 13vw;
    height: 20%;
    width: 70%;
  }

  .App main .first-section .first-section-main .first-section-main-1 .buttons button {
    font-size: 3.2vw;
    border-radius: 0 20px;
    background-color: black;
    color: white;
    border: 4px solid black;
  }


  .App main .first-section .first-section-main .first-section-main-2 {
    display: none;
  }
  
  .App main .second-section .section-my-services {
    margin-top: 70px;
    width: 90%;
  }

  .App main .second-section .section-my-services .title {
    height: 15%;
  }

  .App main .second-section .section-my-services .services .service-1, .service-2 {
    width: 95%;
    padding: 18px;
    height: 40%;
    border: 4px solid black;
    border-left: 8px solid black;
    border-bottom: 8px solid black;
    overflow-y: auto;
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-check, .service-2 .service-2-check {
    display: none;
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-desc, .service-2 .service-2-desc {
    width: 100%;
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-desc .title1, .service-2 .service-2-desc .title2 {
    align-items: center;
    font-size: 6vw;
    height: 25%;
  }

  .App main .second-section .section-my-services .services .service-1 .service-1-desc .desc, .service-2 .service-2-desc .desc {
    font-size: 3.5vw;
    height: 20%;
  }

  .App main .second-section .section-portfolio {
    width: 90%;
  }

  .App main .second-section .section-portfolio .section-portfolio-examples .arte-box {
    width: 47%;
    height: 400px;
  }

  .App .portfolio-modal .modal-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .App .portfolio-modal .modal-main .modal-image img {
    width: 100%;
  }

  .App .portfolio-modal .modal-main .modal-image-desc {
    width: 100%;
    font-size: 3.5vw;
    height: 70%;
    overflow-y: auto;
  }

  .App main .third-section {
    width: 100%;
    height: 60vw;
  }

  .App main .third-section .third-section-main {
    flex-direction: column;
    width: 90%;
    height: 100%;
  }

  .App main .third-section .third-section-main .box1 {
    width: 100%;
  }

  .App main .third-section .third-section-main .box1 .text2 {
    align-items: end;
    width: 100%;
    height:30%;
    font-size: 5vw;
  }

  .App main .third-section .third-section-main .box2 {
    width: 100%;
  }

  .App main .third-section .third-section-main .box2 .box2-main {
    width: 100%;
    height: 80%;
  }

  .App main .third-section .third-section-main .box2 .box2-main:hover {
    border-left: 6px solid black;
    border-bottom: 6px solid black;
  }

  .App main .third-section .third-section-main .box2 .box2-main .contacts .name {
    font-size: 3.5vw;
  }

  footer {
    height: 170px;
    margin-top: 70px;
  }

  footer .footer-main {
    width: 70%;
    height: 55%;
  }

  footer .footer-main .options {
    width: 100%;
    font-size: 3.5vw;
  }

  footer .footer-main .copyright {
    font-size: 3.3vw;
  }
}
